 @artable
artable Initial commit
Latest commit cd6dcf0 3 minutes ago
History
1 contributor
11 lines (11 sloc) 268 Bytes
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.vscode